.text {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    gap:5px;
}

.backgnd {

background-image: url('../backgnd1.jpg'); 
  
  
    background-size: cover;      /* Makes the image fill the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from tiling */

    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    overflow-y: hidden;
    position: relative;
    

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}


.column {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    overflow-x: auto;
    height: calc(100vh - 100px);
    width: 100%;
   
    justify-content: flex-start;
    padding: 0 20px;
    overflow-y: hidden;
}

.Card {
    background-color: rgba(0, 0, 0, 0.793); 
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    min-width: 330px;
    width: 100%;
    height: 90%;
    max-height: 100% ;
    max-width:450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-width: thin; 
    scrollbar-color: #26b249 #222;
    -ms-overflow-style: none;

}

.Card::-webkit-scrollbar {
    width: 6px;
    display: block; /* Hidden by default */
}

.Card::-webkit-scrollbar-thumb {
    background-color: #26b249;
    border-radius: 10px;
}



.header {
    display: flex;
    align-items: center;
    position:absolute;
    gap:20px;
}

.topHeader {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Pushes button to the right */
    padding: 20px 40px;        /* Adjusts distance from top/side */
    box-sizing: border-box;
    gap:20px;
}

/* The Button Style */
.TaskBtn {
    background-color: #26b249; /* Matches your navbar green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    
}




.Task {
    position: relative;
    background: #222;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #444;
    width: 100%;
    cursor: pointer;
}


.priorityTag {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 8px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}


.wipLabel {
    font-size: 0.8rem;
    color: #ffcc00;
    margin-bottom: 10px;
    font-weight: bold;
}


.size {
    font-size: large;
}


.bold {
    text-transform: uppercase;
}