.text {
    color: aliceblue;
}

.layout {
    background-image: url('../backgnd1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* THE FIXES */
    min-height: 100vh;           /* Grows if content is longer than the screen */
    height: auto;               /* Allows the div to expand */
    background-attachment: fixed; /* Keeps the image still while you scroll */
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 50px;


    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}


.heading {

    color: aliceblue;
    top: 60px;
    font-family: 'Inter', 'Segoe UI';
    font-weight: 700;
    font-size: 2rem;
    margin-top: 40px; /* Space below your taskbar */
    margin-bottom: 50px; /* Space before the member cards start */
    text-transform: uppercase;

}

.card {
    position: relative;
    background: rgba(20, 20, 20, 0.85); /* Glassmorphism effect */
    
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    min-height: 90px;
    height: auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    font-size:x-large;
    gap:50px;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding-right: 10px;

}



.container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 8px; 
    min-width: 0;
}


.message {
   
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.4;
    
    
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word; 
}

.close {
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 50%;
    color: rgb(253, 253, 253);
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

   
    
    flex-shrink: 0; /* Prevents button from squishing */
}


.close:hover {
    background:red;
}




.clear {
    align-self: flex-end;
    width: 130px;
    height: 50px;
    background: rgb(41, 56, 47);
    border: none;
    border-radius: 15px;
    
    color: rgb(253, 253, 253);
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

   
    
   

}

.clear:hover {
    background: rgb(73, 211, 73);
}
