.backgnd {

background-image: url('../backgnd1.jpg'); 
  
  
    background-size: cover;      /* Makes the image fill the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from tiling */

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
     background-color: rgba(0, 0, 0, 0.677); /*transperancy*/
    padding: 40px;
    border-radius: 10px;
    width: 40%;
    height: 800px;
    
    display: flex;
    flex-direction: column;
    gap: 40px;
        align-items: stretch;
    justify-content: flex-start;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid rgb(64, 165, 64);
}

.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white ;
    font-size: 3rem;
}

.inputField, .inputFieldd, select {
    width: 100%;         /* Fill the container */
    box-sizing: border-box; /* Includes padding in the width calculation */
    padding: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    color: black;
}

.inputFieldd {
    height: 150px;       /* Set a nice height for description */
    resize: vertical;    /* Allow user to drag it taller if needed */
}

.inputgroup {
    display: flex;
    flex-direction:column;
     /* Keep labels aligned to the left */
    gap: 12px;
    width: 100%;
    

}

.size {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submitBtn {
    padding: 10px 20px;
    background-color: rgb(38, 178, 73);
    color: white;
    cursor: pointer;
    border-radius: 9px;
    width: 150px;

}

.bottom {
    display:flex;
    flex-direction: row;
    gap:30px;
}

.DiscardBtn {
    padding: 10px 20px;
    background-color: rgb(200, 65, 38);
    color: white;
    cursor: pointer;
    border-radius: 9px;
    width: 150px;

}


.EndBtn {
    padding: 10px 20px;
    background-color: rgb(28, 120, 212);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 170px;
    height: 60px;
    font-size: large;
    border-radius: 9px;
    

}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.divison {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 90%;
    justify-content: center;
}