:global(body::-webkit-scrollbar) {
    display: none;               
}

.backgnd {
    background-image: url('../backgnd1.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap:20px;
    font-size: x-large;
    position: relative; 
    padding: 60px 0;
    scrollbar-width: none;
    overflow-y: hidden;

    
    -ms-overflow-style: none;
}



.container {
    display: flex;
    flex-direction: row;
    gap: 30px; /* Space between the two cards */
    width: 95%;
    max-width: 1700px;
    align-items: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 30px;
    border-radius: 12px;
    width: 95%;
    max-width: 450px;
    height: 800px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    gap:8px;
    border: 2px solid rgb(64, 165, 64);
}


.ccard {
    background-color: rgba(0, 0, 0, 0.764);
    padding: 30px;
    border-radius: 12px;
    width: 95%;
    max-width: 900px;
    height: 800px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    gap:8px;
    overflow-y: auto;
    scrollbar-width: none;
    border: 2px solid rgb(64, 165, 64);
}





.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.inputGroup label {
    color: #bababa;
    font-weight: bold;
    font-size: 1.1rem;
    
}

.inputGroup input, .inputGroup select, .inputGroup textarea {
    background: #e0e0e0;
    border: 2px solid #444;
    color: rgb(8, 8, 8);
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
}
 
.inputGroup textarea {
    height: 100px;
    resize: none;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 25px;
   
}

.saveBtn {
    background: #26b249;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.DiscardBtn {
    background: #b83615;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}


.loglist {
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.comments {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}


.log {
    background: #111;
    padding: 15px;
    border-left: 4px solid #26b249;
    border-radius: 4px;
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

.topHeader {
    position: absolute; 
    top: 25px;         /* Distance from top of screen */
    right: 40px;        /* Distance from right of screen */
    z-index: 10;
}

.TaskBtn {
    background-color: #26b249; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    
}

.commentItem {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 4px solid #26b249;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    word-break: break-word;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin-bottom: 8px;
    color: #bababa;
}

.postBtn {
    background: #26b249;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    width: 30%;
    
}

.input textarea {
    width: 100%;
    height: 80px;
    background: #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}




.editorBox {
    background: rgba(255, 255, 255, 0.092);
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid #444;
}


.toolbar {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}

/* Style for B, I, U and Mention buttons */
.toolbar button {
    background: #e6e6e6;
    color: rgb(0, 0, 0);
    border: 1px solid #555;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
}

.toolbar button:hover {
    background: #26b249; /* Turns green on hover */
    
}


.toolbar input[type="color"] {
    width: 35px;
    height: 32px;
    padding: 2px;
    background: #333;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
}


.editableArea {
    min-height: 120px;
    background: #f0f0f0; 
    color: #000;
    padding: 12px;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 15px;
}

.editableArea pre, .commentItem pre {
    background-color: #000;
    color: #26b249;
    border-radius: 6px;
    font-family: monospace;
    overflow-x: auto;
    margin-top: 5px;
    border: 1px solid #30363d;
    


}


.editableArea ul {
    list-style-type: disc;
    margin-left: 15px ;
    padding-left: 3px ;
    display: block ;
}

.editableArea li {
    display: list-item ;
    margin-bottom: 5px;
}


.commentItem ul {
    list-style-type: disc ;
    margin-left: 25px ;
}

.commentItem li {
    display: list-item !important;
}

.mentionDropdown {
    position: absolute;
    bottom: 40px; 
    left: 0;
    background: #222;
    border: 1px solid #4f5c52;
    border-radius: 6px;
    list-style: none;
    padding: 0;
    width: 150px;
    z-index: 100;
}

.mentionDropdown li {
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.0rem;
}

.mentionDropdown li:hover {
    background: #26b249;
}


.font {
    background: #333;
    color: white;
    border: 1px solid #555;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
    outline: none;
    width: 130px;
    height: 32px; 
}

.commentaction button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: rgba(52, 42, 42, 0.171);
    cursor: pointer;
    border: 1px solid gray;
    color: white;
}

.commentaction button:hover {
    background: red;
}