.toolbardesign {
    width: 100%;
  height: 60px;
  background-color: #1a1a1a;
  border-bottom: 1px solid #333;
  position: sticky;         /* Keeps it at the top while you scroll */
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;


}

.link {
    padding: 10px 20px;
    background-color:  rgba(38, 178, 73, 0.837);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    display: inline-block;
    text-decoration: none !important; /* Forces the rule */
    border-bottom: none !important;  /* In case it's actually a border */
    display: inline-block;
}

.navLinks {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.profilecircle {
    width: 38px;
    height: 38px;
    background-image: url('../profile_icon.jpg'); 
    background-size: cover;      /* Forces the image to fill the 38px */
    background-position: center;
    color: white;
    border-radius: 50%;         /* Makes it a perfect circle */
    display: flex;
    align-items: center;        /* Vertically centers the 'U' */
    justify-content: center;
    cursor: pointer;

}
